# @package _global_
defaults:
  - /train/dicow_v3

experiment: se_dicow

model:
  scb_layers: 8
  prefixes_to_preheat: ['model.encoder.additional_layer', 'model.encoder.additional_self_attention_layer', 'model.encoder.lm_head', 'model.encoder.subsample_conv1', 'model.encoder.subsample_conv2', 'model.encoder.fddts', 'model.encoder.initial_fddt', 'model.encoder.ca_enrolls']

training:
  dataloader_num_workers: 8

data:
  use_enrollments: true
  enrollment_cutsets:
    - ${oc.env:MANIFEST_DIR}/librispeech/librispeech_cutset_train-clean-100.jsonl.gz
    - ${oc.env:MANIFEST_DIR}/librispeech/librispeech_cutset_train-clean-360.jsonl.gz
    - ${oc.env:MANIFEST_DIR}/librispeech/librispeech_cutset_train-other-500.jsonl.gz
    - ${oc.env:MANIFEST_DIR}/librispeech/librispeech_cutset_test-clean.jsonl.gz
  train_cutsets:
  - ${oc.env:MANIFEST_DIR}/notsofar1/notsofar1_sdm_train_set_240825.1_train_cutset_30s.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/ami/ami-sdm_cutset_train_30s.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri2mix_train-clean-100_noisy_30s_external_enrollment.jsonl.gz # This marks that enrollment mixtures should be created
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri2mix_train-clean-360_noisy_30s_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri3mix_train-clean-360_noisy_30s_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librispeechmix/librispeechmix_custom_cutset_train-3mix_external_enrollment.jsonl.gz
  eval_cutsets:
  - ${oc.env:MANIFEST_DIR}/notsofar1/notsofar1_sdm_eval_set_240629.1_eval_small_with_GT_cutset.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/ami/ami-sdm_cutset_test.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/ami/ami-ihm-mix_cutset_test.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri2mix_test-clean_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri2mix_test-clean_noisy_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri3mix_test-clean.jsonl_external_enrollment.gz
  - ${oc.env:MANIFEST_DIR}/librimix/librimix_cutset_libri3mix_test-clean_noisy_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librispeechmix/librispeechmix_cutset_test-clean-1mix_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librispeechmix/librispeechmix_cutset_test-clean-2mix_external_enrollment.jsonl.gz
  - ${oc.env:MANIFEST_DIR}/librispeechmix/librispeechmix_cutset_test-clean-3mix_external_enrollment.jsonl.gz